.banner {
    width: 250px;
    height: 750px;
    position: relative;
    background-color: #333333;
    animation-name: houseBanner;
    animation-duration: 3s;
}

@keyframes houseBanner {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

.winter1 {
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    position: relative;
    top: 450px;
    animation-name: winterWords1;
    animation-duration: 3s;
}

@keyframes winterWords1 {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: 1000%;
    }
}
